%table
  %thead
    %th Name
    %th Complete
    %th Starts
    %th Ends
    %th Location
  %tbody
    %tr
      %td
        = encounter.name
      %td
        = encounter.completed
      %td
        = encounter.starts_at
      %td
        = encounter.ends_at
      %td
        = encounter.location.display_name

