%table
  %tr
    %td
      %strong
        = character.display_name
    %td
      %strong
        = character.occupation.try(:name).try(:capitalize)
    %td
      %strong
        = character.name
    %td
      = character.gender.capitalize
  %tr
    %td
      = character.current_action.try(:display_name)
    %td
      = character.current_action.try(:finished_at)
  %tr
    %td
      %strong
        Equipped
    %td
      = character.equipped_item_id ? Item.find(character.equipped_item_id).name : ''

%table
  %tr
    %td
      %table
        %th
          %strong Mind
        - character.mind_attributes.each do |a|
          %tr
            %td
              %strong
                = a.to_s.humanize
            %td
              = character.send a
    %td
      %table
        %th
          %strong Body
        - character.body_attributes.each do |a|
          %tr
            %td
              %strong
                = a.to_s.humanize
            %td
              = character.send a
    %td
      %table
        %th
          %strong Spirit
        - character.spirit_attributes.each do |a|
          %tr
            %td
              %strong
                = a.to_s.humanize
            %td
              = character.send a
    %td
      %table
        %th
          %strong Other
        - character.other_attributes.each do |a|
          %tr
            %td
              %strong
                = a.to_s.humanize
            %td
              = character.send a
    %td
      %table
        %th
          %strong Items
        - character.items.each do |i|
          %tr
            %td
              %strong
                = i.name
            %td
              = i.damage


