<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @character.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @character.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @character.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @character.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @character.charisma %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
