%table
  %tr
    %td
      %strong
        = location.display_name

%table
  %tr
    - location.characters.pcs.each do |c|
      %td
        = "#{c.occupation.try(:name).try(:capitalize)} #{c.name} | "
    - if location.characters.pcs.present?
      %td
        = form_for(location.becomes(Location)) do |f|
          = f.hidden_field :is_current, value: true
          = f.submit "Investigate"

